<% if @pagy.present? %>
  <div class="mt-2 flex w-full flex-wrap items-center justify-between gap-2">
    <%= render "shared/pagy_limit_selector" %>
    <% if @pagy.pages > 1 %>
      <nav aria-label="Pagination" class="flex flex-wrap justify-end gap-2 pagy-nav">
        <%== @pagy.series_nav %>
      </nav>
    <% else %>
      <span></span>
    <% end %>
  </div>
<% end %>
